@import "header.css";
@import "footer.css";

.container {
  width: 935px;
  margin: 0 auto;
  height: 100%;
}

.popular {
  width: 100%;
  padding-top: 84px;
  padding-bottom: 30px;
}
.popular .container {
  flex-direction: column;
}
.popular .container .popular-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.popular .container .popular-gallery .p-img-box img {
  display: block;
  width: 100%;
  height: 100%;
}
